DATABASE_URL=jdbc:postgresql://HOST:5432/postgres?sslmode=require
DATABASE_USERNAME=your_username
DATABASE_PASSWORD=your_password
REDIS_URL=rediss://your_redis_url
JWT_SECRET=your_jwt_secret_base64
SUPABASE_URL=https://your_project.supabase.co
FRONTEND_URL=http://localhost:3000
